* {
    box-sizing: border-box;
    margin: 0;
    padding:2PX;
     
}

li,a,button {
    font-family: "Lato" Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
   
}



.nav_links {
    list-style: none;
}

.nav_links li{
   display: inline-block;
   padding: 0px 20px;

}
.nav_links li a {
    transition: all 0.3sease 0s;
}

.nav_links li a hover {
    color:#0088a9
}

button{
    padding: 9px 25px;
    
    background-color: rgb(227, 193, 171);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(221, 230, 227);
}